/* Marker */

.custom-scrollbar-marker::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-marker::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

.custom-scrollbar-marker::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0284c7, #06b6d4);
  border-radius: 10px;
}

.custom-scrollbar-marker::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0284c7, #0891b2);
}

/* Layer e Chatbot*/

.custom-scrollbar-general::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #ffffff00;
}

.custom-scrollbar-general::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.custom-scrollbar-general::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 10px;
}

.custom-scrollbar-general::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb;
}